@charset "UTF-8";
@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
h2{
	font-family: TTLaundryGothicB !important;
	color: #5a82f0 !important;
}